<?xml version="1.0"?>
<robot name="imu" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Create imu reference frame -->
    <link name="imu_link">
        <inertial>
            <mass value="0.05" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                        iyy="0.01" iyz="0.0"
                        izz="0.01" />
        </inertial>

        <visual>
            <origin xyz=" 0 0 0 " rpy="0 0 0" />
            <geometry>
                <box size="0.04 0.04 0.01"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.04 0.04"/>
            </geometry>
        </collision>
    </link>


    <gazebo reference="imu_link">
        <material>Gazebo/Black</material>
        <sensor name="imu_sensor" type="imu">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <topicName>/imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>100.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <frameName>imu_link</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>
