<?xml version="1.0"?>
<robot name="lidar" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Create laser reference frame -->
    <link name="laser_link">
        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                        iyy="0.01" iyz="0.0"
                        izz="0.01" />
        </inertial>

        <visual>
            <origin xyz=" 0 0 0 " rpy="0 0 0" />
            <geometry>
                <cylinder length="0.04" radius="0.04"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.04" radius="0.04"/>
            </geometry>
        </collision>
    </link>

    <!-- 使用rplidarA2参数 -->
    <gazebo reference="laser_link">
        <material>Gazebo/Black</material>
        <sensor name="lidar" type="ray">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                    <samples>400</samples>
                    <resolution>0.9</resolution>
                    <min_angle>-3.14159265359</min_angle>
                    <max_angle>3.14159265359</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max> <!-- 测距距离仅保留分辨率为1%的部分 -->
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_lidar" filename="libgazebo_ros_laser.so">
                <topicName>/scan</topicName>
                <frameName>laser_link</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>
